.speed-chart {
  margin: 20px 0;
}

.speed-chart .legend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.speed-chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

.speed-chart .label {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
