<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-heading">{{ site.title }}</div>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/">{{ site.url }}</a></li>
          <li><a href="/feed.xml">Atom feed</a></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
            <li>{% include icon-github.html username=site.github_username %}</li>
          {% endif %}
          {% if site.twitter_username %}
            <li>{% include icon-twitter.html username=site.twitter_username %}</li>
          {% endif %}
          {% if site.linkedin_username %}
            <li>{% include icon-linkedin.html username=site.linkedin_username %}</li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Technology blog by <em class="emphasised">Ain Tohvri</em>, CTO at Savings United, leading voucher code solution for premium publishers. Partner at Flashbit. Contributor and maintainer of various Free and Open Source Software projects.</p>
        <p>Cross-browser testing of this site and its selected works is powered by<br><br><a href="https://www.browserstack.com" title="BrowserStack"><img src="/assets/browserstack.svg" height="32px" alt="BrowserStack" id="browserstack"></a></p>
      </div>
    </div>

  </div>

</footer>
{% include individual-assets.html %}
