<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <meta name="twitter:dnt" content="on">
  {% seo %}
  {% if site.employer %}
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Person",
    "@id": "{{ site.url }}/#{{ site.github_username }}",
    "name": "{{ site.social.name }}",
    "url": "{{ site.url }}/",
    "image": "{{ site.user_image | prepend: site.url }}",
    "jobTitle": "{{ site.job_title }}",
    "worksFor": {
      "@type": "Organization",
      "name": "{{ site.employer.name }}",
      "url": "{{ site.employer.url }}"
    },
    "sameAs": [{% for link in site.social.links %}"{{ link }}"{% unless forloop.last %}, {% endunless %}{% endfor %}]
  }
  </script>
  {% endif %}
  {% comment %}
    Pagination pages are thin duplicates of the post list; archived posts are
    ones we want out of search. Unrelated reasons, same directive, so collect
    them into one flag rather than a compound condition.
  {% endcomment %}
  {% assign noindex = false %}
  {% if paginator.page > 1 %}{% assign noindex = true %}{% endif %}
  {% if page.archived %}{% assign noindex = true %}{% endif %}
  {% if noindex %}<meta name="robots" content="noindex, follow">{% endif %}
</head>
