.post-image {

  max-width: 600px;
  width: 100%;
  border: 1px solid $grey-color-light;
  margin: 20px 0;

  &--rounded {
    border-radius: 5px;
  }

  @include media-query($on-laptop) {
    max-width: 800px;
  }
}
