---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <link itemprop="mainEntityOfPage" href="{{ site.url }}{{ page.url | prepend: site.baseurl }}" />

  <header class="post-header">
    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished dateModified">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><a href="http://twitter.com/tekkie" itemprop="url">@<span itemprop="name">tekkie</span></a></span>{% endif %} in {% include categories.html %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <link rel="me" href="https://twitter.com/tekkie">
  <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&hashtags={{ page.tags | sample: 3 | join: ',' | downcase | remove: '-' }}" class="twitter-share-button" data-size="large" data-show-count="false" >Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</article>
