---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      {% if page.author %}
        • <a itemprop="url" href="https://twitter.com/tekkie">@tekkie</a>
      {% endif %}
      in {% include categories.html %}
    </p>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <link rel="me" href="https://twitter.com/tekkie">
  <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&hashtags={{ page.hashtags | default: page.tags | sample: 3 | join: ',' | remove: ' ' }}" class="twitter-share-button" data-size="large" data-show-count="false" >Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

</article>
