body {
  color: $text-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  -moz-font-feature-settings: "kern" 1;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

pre,
code {
  font-size: 15px;
}

blockquote {
  color: $grey-color;
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
}

figcaption {
  font-size: $small-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}
